

#titulo{
    background-color: rgb(100, 11, 184);
    color: white;
    text-align: center;
}

#c1{
    width: 100%;
    display: inline-block;
    padding-bottom: 30px;
}

#c11{
    float: left;
    width: 50%;
}

#c3{
    width: 100%;
    display: inline-block;
}

#c31{
    float: left;
    width: 50%;
}

#emaill{
    padding-bottom: 30px;
}

#sexo{
    padding-bottom: 30px;
}

input[type=button]{
    width: 100%;
    height: 25px;

    padding: 25px 25px 25px 35px;

    padding-bottom: 20px;

    text-align: center;
}