body{
    font-family: 'Roboto', sans-serif;
    background-color: #98ebeb;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    
}

#row{
    width: 600px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -300px;
    
    padding: 0 0 0 0;
    border-radius: 6px;

    flex-flow: row;
    position: absolute;

    background-color: rgb(224, 219, 219);

}

#titulo{
    width: 600px;
    height: 12%;
    margin: 0 0;
    border-radius: 6px 6px 0 0;

    background-color: #5110bb;

    margin-bottom: 10px;
    
}

#titulo h3{
    text-align: center;
    margin: 0;

    color: white;
}

#c1{
    width: 50%;
    display: inline-block;
    position: relative;
}

#c2{
    width: 50%;
}